header {
    margin-top: 16px;
    margin-bottom: 48px;
}

body {
    color: #333333;
    font-family: arial;
    width: 650px;
    /* first value is margin for top and bottom and auto is to evenly distribute space on L / R */
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding:16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 700;
}

.portrait {
    width: 250px;
}

.main-content{
    /* tells flex that this should take up all remaining space */
    flex-grow: 1;
}


